<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Home Page</title>
  </head>
  <body>
    <header>
      <h1 class="user">Hello <span data-usr="{{user}}">{{user}}</span></h1>
      <p class="helo">Chào bạn đến với website <3</p>
    </header>
    <div class="container">
      {% for i in range(movies|length)%}
      <div class="movie" data-id="{{i}}">
        <div class="col1">
          <div class="name">Name: <span>{{movies[i].name}}</span></div>
          <div class="rate">Rate: <span>{{movies[i].rate}}</span></div>
          <div class="year">Year: <span>{{movies[i].year}}</span></div>
          <div class="add">Add by: <span>{{movies[i].userAdd}}</span></div>
          <div class="editL">Edit by: <span>{{movies[i].editBy}}</span></div>
        </div>
        <div class="col2">
          <i class="fas fa-trash-alt del"></i>
          <i class="fas fa-pencil-alt edit"></i>
        </div>
      </div>
      {% endfor %} {% if movies|length < 1 %}
      <div class="note">Hiện tại không có bộ nào, hãy thêm mới</div>
      {% endif %}
      <div class="dev">Dev by: nxhawk</div>
    </div>

    <button id="logout">Logout</button>
    <button id="new">New</button>

    <div id="modal">
      <h2>New Movie</h2>
      <div class="col">
        <label for="">Name:</label>
        <input type="text" placeholder="name" name="name" />
      </div>
      <div class="col">
        <label for="">Rate : </label>
        <input type="text" placeholder="rate" name="rate" />
      </div>
      <div class="col">
        <label for="">Year : </label>
        <input type="text" placeholder="year" name="year" />
      </div>
      <button id="submit">Add</button>
      <button id="close">X</button>
    </div>
  </body>
  <script src="../static/js/main.js"></script>
</html>
